**/.git
**/.gitignore
**/.vs
**/bin
**/obj
**/publish
**/TestResults
**/CoverageReport
**/node_modules
**/*.user
**/*.suo
**/Thumbs.db
**/.DS_Store
**/docker-compose*
**/Dockerfile*
**/.dockerignore
**/README*.md
**/.github
**/.vscode
